/*  *Globals  */

/* Reset to webpage */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    /* 
    Taken from https://gomakethings.com/how-to-animate-scrolling-to-anchor-links-with-one-line-of-css/
    To make scroll behaviour smoother.
    */
    scroll-behavior: smooth;
}

/* Setup variables for reuse */
:root {
    --dark-gray: #3f3f3f;
    --light-gray: #929292;
    --blue: #00a3ee;
    --yellow: #f5d908;
}

/* Background gradient that is fixed to scroll */
body {
    font-family: "Roboto Condensed", sans-serif;
    background: linear-gradient(var(--light-gray), var(--dark-gray)) fixed;
    color: #3f3f3f;
}

/*  *Animation  */
/* 
Taken from: https://stackoverflow.com/questions/11660710/css-transition-fade-in 
I'm fairly certain I understand the code.
Animation is named on the class and made to not repeat and to ease in
(slow to fast). With keyframes it's made to go from 0 opacity to 1.
*/
.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.4s;
}
@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*  *Navbar */

/* Fixed navbar with a shadow drop on the body */
/* transition for the element appearing */
.navbar {
    position: fixed;
    width: 100%;
    background-color: var(--blue);
    box-shadow: 0px 5px 25px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Flex list to automatically set equal width */
.navbar ul {
    display: flex;
    width: 80%;
    margin: auto;
}

/* Text centered to keep our element as wide */
.navbar li {
    flex: 1;
    list-style: none;
    line-height: 2.5em;
    text-align: center;
    transition: background-color 0.5s;
    transition: border-bottom 0.3s;
}

/* So that hover affect the entirety of the element */
.navbar li:hover {
    background-color: #81c2e0;
    border-bottom: solid 1px black;
    cursor: pointer;
}

/* 
And that link with block display can occupy 100% of width and height 
allowing the user to click anywhere on the element.
*/
.navbar a {
    text-decoration: none;
    display: block;
    font-weight: 800;
    color: white;
    width: 100%;
    height: 100%;
}

/*  *Body  */

/* 80% width and centering for design. */
.page-body {
    background: linear-gradient(white, silver) fixed;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* 
    I'm not 100% sure how this shadowing works and I felt it might be 
    too early for our Q&A on Sunday. I'm planning to ask about it ASAP.
    But in either case, it's an inward shadow and it looks good.
    */
    box-shadow: inset 0px 2px 5px;
    padding: 1px;
}

.page-body h1 {
    margin-top: 75px;
    font-size: 2.5em;
    text-align: center;
    background-color: rgba(206, 205, 205, 0.4);
    color: yellow;
    text-shadow: 1px 1px 5px black, 5px 5px 10px var(--dark-gray);
}

.page-body h2 {
    font-size: 2em;
    text-align: center;
}

/* Border between sections */
.border-section {
    margin: 25px 200px;
    border-bottom: solid 2px gray;
    clear: both;
}

/* *Description card */

/* 
Creating a grid with small and big columns and height that fits our h1
and fills the rest with our info-text according to height of our figure.
*/
#sabahDescription {
    display: grid;
    width: 100%;
    grid-template-columns: 35% 65%;
    grid-template-rows: fit-content(100%) 1fr;
    margin-top: 30px;
}

/* Having our title occupy the entirety of its row */
#sabahDescription h2 {
    grid-row: 1/2;
    grid-column: 1/3;
}

#sabahDescription figure {
    padding: 25px;
    width: 100%;
    text-align: center;
}

/* Using flex to send our footer towards the end */
#sabahDescription .info-text {
    display: flex;
    flex-direction: column;
}

/* 
Setting width to 100% of parent and using min max width to handle
Responsiveness

*/
#sabahDescription figure img {
    border: solid 2px black;
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
    width: 100%;
    min-width: 120px;
    max-width: 300px;
}
#sabahDescription figcaption {
    font-style: italic;
    text-align: center;
}
#sabahDescription .info-text {
    padding: 10px 25px;
}
#sabahDescription .info-text p {
    text-align: justify;
    margin: 15px 0px 5px 0px;
    font-weight: 600;
}
#sabahDescription .info-text li {
    list-style-position: inside;
}
#sabahDescription p {
    flex: 1;
}
/* Have a slight background color with opacity 0.1 for design */
#sabahDescription footer address {
    text-align: center;
    border-radius: 10px;
    padding: 5px 0px;
    margin: 20px 0px;
    background-color: rgb(168, 168, 168, 0.1);
}

/* *Education */

/* 180deg linear gradient to make contrast for title */
.card {
    margin: 25px 15px;
    padding: 15px 15px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 5px 10px var(--dark-gray), -2px -5px 10px white;
}

.card h3 {
    border-bottom: var(--light-gray) solid 2px;
}

#education li {
    list-style: none;
}

.page-body footer p {
    width: fit-content;
    margin: auto;
    padding-bottom: 20px;
}

/* Responsiveness */
@media screen and (min-width: 1500px) {
    .navbar ul {
        width: 70%;
    }
    .page-body {
        width: 70%;
    }
    #sabahDescription {
        padding: 30px;
    }
    #education {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: fit-content(100%) 1fr;
        margin: 25px;
    }
    #education h2 {
        grid-column: 1/4;
        grid-row: 1/2;
    }
    #workExperience {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: fit-content(100%) 1fr;
        margin: 25px;
    }
    #workExperience h2 {
        grid-column: 1/4;
        grid-row: 1/2;
    }
    .card {
        margin: 40px 45px;
    }
}

@media screen and (max-width: 1280px) {
    .navbar ul {
        width: 90%;
    }
    .page-body {
        width: 90%;
    }
}

@media screen and (max-width: 670px) {
    .navbar ul {
        width: 100%;
    }
    .page-body {
        width: 100%;
    }
}

/* Reduce paddings and margins for screens smaller that 459 */
@media screen and (max-width: 459px) {
    .navbar {
        position: relative;
    }
    #sabahDescription {
        margin-top: 10px;
    }
    #sabahDescription figure {
        padding: 5px;
    }
    #sabahDescription .info-text {
        padding: 5px 10px;
    }
    #sabahDescription .info-text p {
        margin: 5px 0px 5px 0px;
    }
    .card {
        margin: 15px 5px;
    }
}

/* 
Get rid of our gride and display vertically for iPhone SE and smaller
screens
*/
@media screen and (max-width: 375px) {
    #sabahDescription {
        display: flex;
        flex-direction: column;
    }

    .card {
        margin: 5px 0px;
        box-shadow: 1px 1px 5px black;
        border-radius: 0px;
    }
}
