* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding: 10px 10px;
}

section.body img {
    display: block;
    max-width: 500px;
    margin: 0 auto;
}
